[Unit]
Description=Run My Plot check and create script once per minute

[Timer]
# Run the associated service every minute to check if new plots are needed to fill staging dir
OnCalendar=*:0/1
Unit=bladebit_check_and_plot.service

[Install]
WantedBy=timers.target
